//
//  Config.xcconfig
//  Practice-Pawsy
//
//  Created by user@37 on 03/04/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project


BASE_URL = ysyzyalaurvzfgcfgcai.supabase.co
SUPABASE_URL = https://$(BASE_URL)
SUPABASE_ANON_KEY = your_key_here
SUPABASE_ANON_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlzeXp5YWxhdXJ2emZnY2ZnY2FpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUyMTUzNzAsImV4cCI6MjA5MDc5MTM3MH0.DnTPiOEw2lT9C60z_GWGPxlT5WMq2Enu5f5Kmo4lQjk
